# Twilio Credentials
TWILIO_ACCOUNT_SID=AC44ac01c88983d3e02de04355efd3916c
TWILIO_AUTH_TOKEN=bcf76d7668a4dd67d33b04ff938867e7
TWILIO_PHONE_NUMBER=+16624938232

# EmailJS Credentials
EMAILJS_SERVICE_ID=service_imvm3i
EMAILJS_TEMPLATE_ID=template_zsg0ipl
EMAILJS_PUBLIC_KEY=RN6tpTcauTPVZ2cDn
EMAILJS_PRIVATE_KEY=4wMjBYsdk7GjADYTZURQr

VITE_GEMINI_API_KEY=AIzaSyBADEKn_ui6dOlzDRw2Llp50Jo-dLdMcFw

# App Configuration
APP_URL=https://women-safety-sos-system-1.onrender.com
