# Twilio Credentials
TWILIO_ACCOUNT_SID=AC3ffc8f09511ee889d9a5bf5344432dbd
TWILIO_AUTH_TOKEN=77c795abafa976c73fa06422f70ea03b
TWILIO_PHONE_NUMBER=+16626768954

# EmailJS Credentials
EMAILJS_SERVICE_ID=service_imvm3i9
EMAILJS_TEMPLATE_ID=template_zsg0ipl
EMAILJS_PUBLIC_KEY=P3_X7_Cabr0fL4FEt
EMAILJS_PRIVATE_KEY=b-TtindeRT1E9pbWo1rzf

VITE_GEMINI_API_KEY=AIzaSyBADEKn_ui6dOlzDRw2Llp50Jo-dLdMcFw

# App Configuration
APP_URL=http://localhost:3000
